<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Corridas Compartilhadas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item" ml-2>
        <a routerLink="/motoristas" routerLinkActive="active" style="margin-left: 20px;">Motoristas</a>
      </li>
      <li class="nav-item" ml-2>
        <a routerLink="/passageiros" routerLinkActive="active" style="margin-left: 20px;">Passageiros</a>
      </li>
      <li class="nav-item">
        <a routerLink="/corridas" routerLinkActive="active" style="margin-left: 20px;">Corridas</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
